body{
    background-color: azure;
}
.body-div{
    margin:100px;
}
li{
    list-style-type:none;
    margin:10px
}
.container{
    background-color: rgb(174, 243, 243);
    margin-top: 150px;
    margin-bottom: 150px;

}
.margin{
    margin: 50px;
}
.heading-style{
    margin-top: 20px;
}
.heading{
    text-align: center
}
.button-space{
    width: 50%;
    align-content: center;
    margin:auto;
}
.clock-space{
    margin-top: 300px;
    align-content: center;
    margin:auto;
}
.question-space{
    margin:auto;
}
.btn{
    width: 100%;
    margin-bottom: 15px
}
.hide{
    opacity: 0;
}
.center{
    margin: auto;
    align-content: center;
    text-align: center;

}
